*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #341212;
    color: aliceblue;
}

#card{
    padding: 40px 35px;
    margin: 100px auto 0;
    border-radius: 10px;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(50deg,rgb(234, 25, 60),rgb(23, 155, 153));
    text-align: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

#input{
    border: 0;
    outline: 0;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border-style: none;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, .95);
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
}

button img {
    width: 20px;
}

.weather-icon{
    width: 170px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 28px;
    margin: -6px;
}

.weather{
    display: none;
}

.error{
    text-align:  left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}