*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #262a2f;
}

.card{
    background: #fff;
    width: 400px;
    position: absolute;
    padding: 25px 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;

}

.card p {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

#input {
    width: 100%;
    height: 50px;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

#button {
    color: rgb(0, 119, 255);
    background-color: aquamarine;
    border: 0;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    outline: 0;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;

}

#imgBOX {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBOX img{
    width: 100%;
    padding: 10px;
}

#imgBOX.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error {
    animation: shake 0.1s linear 10 ;
}
@keyframes  shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    } 50%{
        transform: translateX(0);
    } 75%{
        transform: translateX(2px);
    } 100%{
        transform: translateX(0);
    }

}